*{
    background-color: #F4F5F7;
}


.make-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
}
.make-container h1{
    font-size:32px;
    font-weight: 700;
}
.edit-profile-container{
    width:50%;
}

/* 프로필 사진 스타일 */
.profile-image-edit-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
}
.profile-image {
    background-color:gray;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}
/* 변경 버튼 */
.change-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.image-upload {
    display: none;
}

/* 입력 필드 */
.info-section {
    text-align: left;
    margin-bottom: 20px;
}
.info-title{
    margin: 8px 0px;
    font-weight: 700;
    font-size:15px;
}
.info-section label {
    font-size: 14px;
    font-weight: bold;
}

.info-section input {
    width: 100%;
    padding: 8px;
   
    border: 1px solid #ddd;
    border-radius: 5px;
}
.help-text{
    font-size:12px;
    color:#FF0000;
    
    margin-bottom: 11px;
    margin-top:0;
}
/* 버튼 스타일 */
.submit-btn, .delete-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.email{
    margin-bottom: 16px;
}
.submit-btn {
    background-color: #aca0eb;
    color: white;
    margin-bottom: 10px;
    
}

.delete-btn {
    background:none;
    
}
.toast-message {
    visibility: hidden; /* 기본적으로 숨김 */
    min-width: 250px;
    margin-left: -125px; /* 화면 중앙에 배치 */
    background-color: #ACA0EB; /* 초록색 배경 */
    color: white;
    text-align: center;
    border-radius: 30px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

/* 토스트 메시지 보이게 하기 */
.toast-message.show {
    visibility: visible;
    animation: fadeInOut 3s ease-out;
}

/* 토스트 메시지 애니메이션 (페이드 인/아웃) */
@keyframes fadeInOut {
    0% { bottom: 0; opacity: 0; }
    50% { bottom: 30px; opacity: 1; }
    100% { bottom: 0; opacity: 0; }
}